<TMPL_INCLUDE NAME="header.tmpl">
<body>

<TMPL_INCLUDE NAME="logo.tmpl">

<div id="content" class="nav">
<h2>
	<img src="images/zh-tw/apply-email.png" alt="apply-email" align="middle" />
	電子郵件帳號申請 (New Email Account)
	<br />
	<span style="font-style: italic;">
		&nbsp;&nbsp;&nbsp;Step:
		<span style="color: #ccc;">1 詳閱規範</span>
		<span style="color: #ccc;">2 詳閱規範</span>
		<span style="color: #ccc;">3 設定帳號密碼</span>
		<span style="color: red; ">4 完成申請</span>
	</span>
</h2>
<pre>
<TMPL_VAR NAME=RESULT ESCAPE=HTML>
</pre>
</div>

</body>
<TMPL_INCLUDE NAME="footer.tmpl">
