<TMPL_INCLUDE NAME="header_validate.tmpl">
<body onload="document.apply_email.password.focus();">

<TMPL_INCLUDE NAME="logo.tmpl">

<div id="content" class="nav">
<h2>
	<img src="images/zh-tw/change-password.png" alt="change-password" align="middle" />
	電子郵件密碼變更 (Change Password)
	<br />
	<span style="font-style: italic;">
		&nbsp;&nbsp;&nbsp;Step:
		<span style="color: black;">1 設定密碼</span>
		<span style="color: #ccc; ">2 完成變更</span>
	</span>
</h2>
<noscript>
<h3><span class="alert">本系統部份功能需要 Javascript 支援，建議您啟用 Javascript 支援！</span></h3>
<h3><span class="alert">Some features of this site require JavaScript, please enable it!</span></h3>
</noscript>
<TMPL_IF NAME=IS_STOP_PASSWORD>
<TMPL_INCLUDE NAME="stop_password.tmpl">
<div id="stop_password">
<iframe src="https://net.nthu.edu.tw/2009/mailing:announcement:<TMPL_VAR NAME=IS_STOP_PASSWORD ESCAPE=HTML>?do=export_xhtml" width="80%" height="300" frameborder="0"></iframe>
<script type="text/javascript">
/* <![CDATA[ */
jQuery.noConflict();
(function($) { 
	$(function() {
		$("#change_password").hide();

		$("#continue").click(function() {
			$("#change_password").show();
			$("#stop_password").hide();
		});
	});
})
(jQuery);
/* ]]> */
</script>
<input type="button" id="continue" value="閱讀完畢，繼續設定" />
</div>
</TMPL_IF>

<div id="change_password">

<form id="apply_email" action="change-password.cgi?sid=<TMPL_VAR NAME=SID>" method="post" name="apply_email">
<input type="hidden" name="sid" value="<TMPL_VAR NAME=SID>" />
<input type="hidden" class="username" name="username" id="username" value="<TMPL_VAR NAME=ID ESCAPE=HTML>" />
<table border="1">
<thead>
<!--
<tr>
	<th>級數 (Degree)：</th>
	<td><TMPL_VAR NAME=DEGREE ESCAPE=HTML></td>
</tr>
-->
<tr>
	<th>編號 (Student/Staff-ID)：</th>
	<td><TMPL_VAR NAME=ID ESCAPE=HTML></td>
</tr>
<tr>
	<th>姓名 (Name)：</th>
	<td><TMPL_VAR NAME=NAME ESCAPE=HTML></td>
</tr>
<TMPL_IF NAME=IS_EXIST>
<tr>
	<th>電子郵件帳號 (Email)：</th>
	<td><TMPL_VAR NAME=EMAIL ESCAPE=HTML></td>
</tr>
<tr>
	<th><label for="password"><b>信箱</b>新密碼 (New Password)：</label></th>
	<td>
		<input class="password" type="password" name="password" id="password" maxlength="16" style="border: 3px solid #cc9; padding: 2px;" />
		<div class="password-meter" style="float: right;">
			<div class="password-meter-message">&nbsp;</div>
		</div>
	</td>
</tr>
<tr>
	<th><label for="password_confirm">新密碼確認 (Confirm)：</label></th>
	<td>
		<input type="password" name="password_confirm" id="password_confirm" maxlength="16" style="border: 3px solid #cc9; padding: 2px;" />
	</td>
</tr>
<tr>
	<th>狀態 (Status)：</th>
	<td>設定密碼 (Set Password)</td>
</tr>
</thead>
<tbody>
<tr>
	<td colspan="2" style="text-align: center;">
		<a href="portal.cgi?sid=<TMPL_VAR NAME=SID>"><input type="button" value="取消設定 (Cancel)" onclick="javascript:gotourl('portal.cgi?sid=<TMPL_VAR NAME=SID>');" /></a>
		<input type="submit" value="確認設定 (Apply)" style="border: 3px solid #cc9; padding: 2px;" />
	</td>
</tr>
<TMPL_ELSE>
<tr>
	<th>狀態：</th>
	<td>帳號不存在，無法設定密碼</td>
</tr>
</thead>
<tbody>
<tr>
	<td colspan="2" style="text-align: center;">
		<a href="portal.cgi?sid=<TMPL_VAR NAME=SID>"><input type="button" value="取消設定 (Cancel)" onclick="javascript:gotourl('portal.cgi?sid=<TMPL_VAR NAME=SID>');" /></a>
	</td>
</tr>
</TMPL_IF>
</tbody>
</table>
</form>
<ul>
	<li><span class="alert">請注意<a href="http://net.nthu.edu.tw/2009/security:phishing" target="_blank">電子郵件詐騙</a>，切勿提供密碼給任何人包含系統管理者。</span></li>
	<li><span class="alert">Notice <a href="http://net.nthu.edu.tw/2009/security:phishing" target="_blank">Phishing Scam Emails</a>! NEVER send you password to anyone, including system administrators.</span></li>
	<li><span class="alert">密碼強度須為「<strong>好</strong>」或「<strong>很強</strong>」，方可送出申請。</span></li>
	<li><span class="alert">Password strength must be <strong>GOOD</strong> or <strong>STRONG</strong> before you will be able to submit.</span></li>
	<li>信箱功能及設定一覽表：<a href="http://net.nthu.edu.tw/2009/mail:student" target="_blank">http://net.nthu.edu.tw/2009/mail:student</a></li>
	<li>詳細資訊請參考本組網站：<a href="http://net.nthu.edu.tw/" target="_blank">http://net.nthu.edu.tw/</a></li>
	<li>Please refer to our site for further information: <a href="http://net.nthu.edu.tw/" target="_blank">http://net.nthu.edu.tw/</a></li>
</ul>
</div>

</div>

</body>
<TMPL_INCLUDE NAME="footer.tmpl">
