<TMPL_INCLUDE NAME="header.tmpl">
<body>

<TMPL_INCLUDE NAME="logo.tmpl">

<div id="content" class="nav">
<h2>
	<img src="images/zh-tw/configure.png" alt="configure" align="middle" />
	個人資訊設定 (Configure)
	<br />
	<span style="font-style: italic;">
		&nbsp;&nbsp;&nbsp;Step:
		<span style="color: #ccc;">1 設定資料</span>
		<span style="color: red; ">2 完成設定</span>
	</span>
</h2>
<pre>
<TMPL_VAR NAME=RESULT ESCAPE=HTML>
</pre>
</div>

</body>
<TMPL_INCLUDE NAME="footer.tmpl">
