<TMPL_INCLUDE NAME="header_empty.tmpl">
<body>

<div align="center">
<h2>
您已經登出網路系統組 Portal
</h2>
<h2>
You have logged out Network Systems Portal
</h2>
<h2>
請重新登入 <a href="https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/">https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/</a>
</h2>
<h2>
Please relogin <a href="https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/">https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/</a>
</h2>
</div>

</body>
<TMPL_INCLUDE NAME="footer.tmpl">
