<div id="sidebar" class="nav">
<img src="images/zh-tw/logo.png" alt="logo" />
<hr />
<p>
本系統由網路系統組開發維護，如有問題請<a href="http://net.nthu.edu.tw/2009/about:contact" target="_blank">聯絡我們</a>。
</p>
<p>
<img style="border: 0pt none; width: 80px; height: 15px;" src="images/zh-tw/button-xhtml.png" alt="Valid XHTML 1.0 Transitional" border="0" height="15" width="80" />
</p>
</div>
<div id="footer_banner">
Designed by lyshie(at)mx(dot)nthu(dot)edu(dot)tw
</div>
