<TMPL_INCLUDE NAME="header.tmpl">
<body>

<div align="center">
<h2>現在並非網路申請電子郵件信箱的時間，詳細的申請方式及時間請參考</h2>
<h2>網路系統組網際網路服務<a href="http://net.nthu.edu.tw/2009/mail:application_student">學生電子郵件信箱的申請</a></h2>

<h2>Now is not the period for applying email account via network.</h2>
<h2>Please refer to <a href="http://net.nthu.edu.tw/2009/mail:application_student">http://net.nthu.edu.tw/2009/mail:application_student</a> for detail.</h2>

<hr width="80%" />
<iframe src="https://net.nthu.edu.tw/2009/mail:application_student?do=export_xhtml" width="80%" height="500" frameborder="0"></iframe>

</div>

</body>
<TMPL_INCLUDE NAME="footer.tmpl">
