<h3 class="alert">警示：您的信箱發生一些狀況，已經被管理者暫停密碼，請參閱<a href="http://net.nthu.edu.tw/2009/mailing:announcement:<TMPL_VAR NAME=IS_STOP_PASSWORD ESCAPE=HTML>" target="_blank">本組公告</a>。</h3>
<h3 class="alert">WARNING: Due to some trouble with your email account, your passsword has been suspended by system administrators. Please refer to <a href="http://net.nthu.edu.tw/2009/mailing:announcement:<TMPL_VAR NAME=IS_STOP_PASSWORD ESCAPE=HTML>" target="_blank">Network Systems Division</a>.</h3>
