<h3 class="alert">緊急：您的信箱發生嚴重問題，已經被管理者限制使用信箱及修改密碼，請參閱<a href="http://net.nthu.edu.tw/2009/mailing:announcement:<TMPL_VAR NAME=IS_SUSPENDED_PASSWORD ESCAPE=HTML>" target="_blank">本組公告</a>，並<a href="http://net.nthu.edu.tw/2009/about:contact" target="_blank">聯絡我們</a>。</h3>
<h3 class="alert">EMERGENCY: Due to serious trouble with your email account, you are prohibited from using your account and changing password. Please refer to <a href="http://net.nthu.edu.tw/2009/mailing:announcement:<TMPL_VAR NAME=IS_SUSPENDED_PASSWORD ESCAPE=HTML>" target="_blank">Network Systems Division</a> and <a href="http://net.nthu.edu.tw/2009/en:about:contact" target="_blank">contact us</a>.</h3>
