<TMPL_INCLUDE NAME="header.tmpl">
<body>
<TMPL_IF NAME=CONFIRM>
<script language="javascript">window.opener.location.reload();</script>
</TMPL_IF>
<div align="center">
<h2>刪除帳號</h2>
<form method="get" action="delete_user.pl">
<input type="hidden" name="profile" value="<TMPL_VAR NAME=PROFILE>" />
<input type="hidden" name="uid" value="<TMPL_VAR NAME=UID>" />
<table border="1">
<tbody>
<tr class="odd">
    <th>UID</th><td><TMPL_VAR NAME=UID></td>
</tr>
<tr>
    <th>CONFIRM</th><td><input type="checkbox" name="confirm" value="1"<TMPL_IF NAME=CONFIRM> checked="checked"</TMPL_IF> /></td>
</tr>
<tr>
    <td colspan="2" style="text-align: center;">
        <input type="submit" />
        <input type="button" value="取消" onclick="javascript:window.close()" />
    </td>
</tr>
</tbody>
</table>
</form>
<pre>
<TMPL_VAR NAME=RESULT>
</pre>
</div>
</body>
<TMPL_INCLUDE NAME="footer.tmpl">
