<TMPL_INCLUDE NAME="header.tmpl">
<body>
<TMPL_IF NAME=CONFIRM>
<script language="javascript">window.opener.location.reload();</script>
</TMPL_IF>
<div align="center">
<h2>密碼檢查</h2>
<textarea cols="40" rows="20" readonly="readonly"><TMPL_VAR NAME=RESULT></textarea>
<br />
<input type="button" value="關閉" onclick="javascript:window.close()" />
</div>
</body>
<TMPL_INCLUDE NAME="footer.tmpl">
