fieldset { border-style: none; }
img { border-style: none; }

#openid_form { width: 400px; }
#openid_form li { text-align: center; list-style-type: none; display: inline; }

form.openid ul { text-align: center; list-style-type: none; display: inline; }
form.openid ul li { float: left; padding: 4px; margin: 0px; }
form.openid ul li span { padding: 0 1em 0 3px; }
form.openid fieldset { clear: both; padding: 1em 0; }
form.openid div+fieldset { display: none; }
form.openid label { display: block; font-weight: bold; font-size: larger; margin-bottom: .5em; }
input[name=openid_username] { width: 8em; }
input[name=openid_identifier] { width: 18em; }
form.openid ul li.highlight { -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color: #FD6; }
form.openid fieldset div { -moz-border-radius: 4px; -webkit-border-radius: 4px; 
                          background: #DCDCDC url(/portal/images/zh-tw/openid/fadegrey.png); padding: 10px; display: inline-block; }
form.openid input[type='submit'] { margin-left: 1em; }

.openid_logo{ color: #F7931E; padding: 6px 0px 8px 28px; background: url(/portal/images/zh-tw/openid/openidico.png) no-repeat; }
